header{
    display: flex;flex-direction: row;justify-content: center;
    position: sticky;top: 0;z-index: 10000;padding: 10px;background-color: #ffffff;
}
header>div{
    width: 33%;text-align: left;margin: 10px;
}
header>div>ul>li{
    list-style-type: none;padding: 0;
}
header>div>ul{
    display: flex;flex-direction: row;justify-content: space-evenly;align-items: center;
}
header>div>ul li>a{
    text-decoration: none;color: #242424;font-weight: 500;
}
header>div>ul li>a:hover{
    color: #13182F;transition: 0.5s;
}
body{
    margin: 0;padding: 0;background-color: #FFFFFF;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
header button{
    background-color: #13182F;padding: 12px;border: none;border-radius: 5px;color: #fff;margin-top: 10px;
}
header button:hover{
  background-color: #2f3f85;
}

div{
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.7s ease-out, transform 0.7s ease-out;
  }

  div.visible {
    opacity: 1;
    transform: translateY(0);
}
#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: orangered;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  #side{
    background-color: #ffffff;
    height: 0;
    display: none;

}
#side img{
    display: none;
}
.container {
    display: none;
  }
  
  .bar1, .bar2, .bar3 {
    width: 20px;
    height: 5px;
    background-color: #13182F;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
.sidenav{
    display: none;
}
#sideNav{
    display: none;
}

#underNav{
    display: none;
}
#bg{
    height: 550px;
    background-image:url(images/fleet-white-commercial-vehicles-reflective-surface\ 1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position:relative;
  }
  #bg2{
    height: 400px;
    background-image:url(images/a32bad2cd94394476a48787809d9ca3eaa3e33f3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position:relative;
  }

  #bg1{
    height: 250px;
    background-image:url(images/fleet-white-commercial-vehicles-reflective-surface\ 1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position:relative;
  }
  .bgcover h1{
    font-size: 40px;
  }
  .bgcover p{
    font-size: 19px;font-weight: 400;
  }
#card2{
    display: flex;flex-direction: row;align-items: center; margin-left: 0;margin-top: 15px;
}
#card2>div{
    margin: 10px;line-height: 10px;
}
#card2 p{font-size: 17px;}
 .bgcover{
    position:absolute;
    top:0;
    left:0;
    bottom: 0;
    right:0;
   background-image: linear-gradient(to right, #ffffffbb, #13182f2c);
    color:#13182F;
    padding: 40px;
    padding-top: 5%;text-align: left;
  }
  .bgcover>div>a{
    color:#ffffff;
    background-color: #13182F;
    padding: 4px;
    border-radius: 3px;
    z-index: 1;
    border: none;
    font-weight: 400;
    padding: 10px;
    text-decoration: none;
    position: relative;
  }
  .bgcover2{
    position:absolute;
    top:0;
    left:0;
    bottom: 0;
    right:0;
   background-color:#00000099;
    color:#ffffff;
    padding: 40px;
    padding-top: 15%;
  }
  .bgcover2>div>a{
    color:#ffffff;
    background-color: #13182F;
    padding: 4px;
    border-radius: 3px;
    z-index: 1;
    border: none;
    font-weight: 400;
    padding: 10px;
    text-decoration: none;
    position: relative;
  }
    .bgcover>div>#card{
    color:#000000;
    background-color: #ffffff;
    padding: 4px;
    border-radius: 3px;
    z-index: 1;
    border: none;
    font-weight: 400;
    padding: 10px;
    text-decoration: none;
    position: relative;
  }
  .bgcover>div>a:hover{
    background-color:#2f3f85 ;
    color: #ffffff;
  }
   .bgcover>div>#card:hover{
    background-color:#2f3f85 ;
    color: #ffffff;
  }
  #slidingDiv {
    position: relative;
        left: -100%;
      transition: left 1s ease-in-out;
    }
    .hidden {
        display: none;
      }

.what{
    padding: 40px;color: #13182F;padding-bottom: 20px;
}


      
#divider img{width: 100%;}
#talk{
    display: flex;flex-direction: row;justify-content: space-evenly;align-items: center;
    background-color: #ffffff;margin-top: 30px; margin: 30px;
}
#talk>div{
    width: auto;margin: 20px;
}

#talk img{
    width: 400px;border-radius: 7px;
}
#talk2{
    display: flex;flex-direction: row;justify-content: space-evenly;align-items: center;
    background-color: #ffffff;margin-top: 30px; margin: 30px;
}
#talk2>div{
    width: auto;margin: 20px;position: relative;
}
#talk2>div>div{
    position: absolute;bottom: 0;background-color: #13182f3f;left: 0;right: 0;color: #fff; padding: 10px;
    border-bottom-left-radius: 15px;border-bottom-right-radius: 15px;
}
#talk2 img{
    border-radius: 15px;
}


button{
    background-color: #13182F;padding: 10px;border: 1px solid black;border-radius: 5px;color: #fff;
    border: none; font-size: 16px;
}
#services1{
    display: flex;flex-direction: row;align-items: center;justify-content: center;flex-wrap: wrap;
 
}
#services1>div{
    width:30%;margin: 10px;text-align:left;text-decoration: none;
    box-shadow: 0px 0px 22px 0px #00000029;background-color:rgba(128, 128, 128, 0.228);
border-radius: 15px;height: auto;
}
#services1>div>div{
    padding: 10px;
}
#services1 img{
  width: 100%; border-top-left-radius: 15px;border-top-right-radius: 15px;
}
#services2{
    display: flex;flex-direction: row;align-items: center;justify-content: space-evenly;flex-wrap: wrap;
  
}
#services2>div{
    width:29%;margin: 10px;text-align:left;text-decoration: none;background-color: rgba(128, 128, 128, 0.228);color: #242424;
padding: 15px;height: 140px;border-radius: 15px;
}
#services2 img{
    width: 100%;
}
#services2 p{font-size: 14px;}
#services2 h3{font-size: 17px;}

form input,textarea{
    border: 1px solid rgb(228, 220, 220);background-color: #fff;padding: 8px;
}
form{display: flex;flex-direction: row;justify-content: center;align-items: center;}
form >div{margin: 4px;}
#coverFooter{
    background-image: url(images/b9c8fcea0bb6557701de99ade8739c2f.jpeg);
    background-position: center;background-size: cover;background-repeat: no-repeat;
}
footer{
   display: flex;flex-direction: row;justify-content: space-evenly;margin-top: 40px;
   background-color: #13182F;padding: 30px;
}
footer>div{
padding: 10px;color: #F9FAFB;margin: 20px
}
footer h3{
    font-weight: lighter;font-size: small;
}
.vision{
    display: flex;
    flex-direction: column;
  }
  .vision>div{
    box-shadow: 2px 2px 10px grey;
    border-left: 4px solid #13182F;
    margin-bottom:25px;
    padding: 10px;
  }
    #partners{
        width: 100%;
      }

  .divide{
    display: flex;
    flex-direction: row;
    justify-content: space-between;margin: 60px;
  }
  .divide>div{
    width:50%;margin: 20px;
  }
  #here{
    padding-left: 20px;
  }
  .divide p{
    line-height: 25px;
  }
  .divide ul li{
    line-height: 29px;
    margin: 10px;
  }
  #ul {
    list-style: none; /* Remove default bullets */
    padding: 0;
  }
 
 
  #ul li::before {
    content: '>>'; /* Add the greater-than sign */
    margin-right: 8px; /* Add some spacing */
    color: orangered; /* Customize the color if needed */
  font-weight: bold;
  }
  #services2 i{
    font-size: 30px;
  }

   #snap{
    display: flex;flex-direction: row;flex-wrap: wrap;justify-content: center;align-items: center;
  }
#snap>div{
width: 40%; height: 500px;margin: 10px;
}
.img1{
  width: 100%;height: 500px;border-radius: 10px;
}
.img2{
  width: 100%;height: 250px;border-radius: 10px;
}
#innerId{
   display: flex;flex-direction: row;flex-wrap: wrap;justify-content: center;align-items: center;
width: 100%;
  }
#innerId >div{
  width: 47%;margin: 5px;
}
 #innerId img{
  width: 100%;height: 250px; border-radius: 10px;
 }
 @media only screen and (max-width: 1200px){
    #snap{
  flex-direction: column;
  }
}

@media only screen and (max-width: 900px){
     #snap{
 flex-direction: column;
  }
#snap>div{
width: auto; height: auto;margin: 10px;
}
.img1{
  width: 350px;height: 350px;
}
.img2{
  width: 350px;height: 350px;
}
#innerId{
  flex-direction: column;

  }
#innerId >div{
  width: auto;height: auto;
}
 #innerId>div> img{
 width: 350px;height: 350px;
 }
 #card2 p{font-size: 15px;}
  #card2>div{
   line-height: 18px;
}
  
   .bgcover h1{
    font-size: 25px;
  }
  .bgcover p{
    font-size: 16px;font-weight: 400;
  }
  .bgcover{
    padding-left:10px ;
  }
    .divide{
        flex-direction: column;margin: 20px;
      }
      .divide>div{
        width:auto;
        margin:0
      }
    #subm{
    margin: 5px;width: 100px;border: none;border-radius: 5px;
}
footer{
        flex-direction: column;padding: 10px;
    }
    footer>div{
        width: auto;margin: 0;
    }
    form{flex-direction: column;}
    form>div{
        margin: 10px;
    }
    
    #bg{
        height: 360px;
      }
    .sidenav{
        display: block;
    }
    #sideNav{
        display: block;
    }
    #underNav{
        display: block;margin-top: 25px;margin-left: 20px;
    }
    .container{
        display: inline-block;
        cursor: pointer;
       }
    #side{
        display: block;height: 70px;
    }
    #side img{
        display: block;
    }
    header{
        display: none;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #ffffff;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }
      
      .sidenav a {
        text-decoration: none;
        display: block;
        transition: 0.3s;
        line-height: 50px;
        color: #13182F;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        font-weight: 600;
    border-bottom: 1px solid #d0def5;
    padding-left: 15px;
      }
      
      .sidenav a:hover {
        color: #ffffff;background-color: #13182F;
      }
      #partners{
        width: 100%;height: 80px;
      }

.container{
    float: right;margin-right: 30px;margin-top: -50px;
}
#talk{
    flex-direction: column;justify-content: center;align-items: center;
}
#talk >div{
    width: auto;padding: 0px;
}
#talk img{
    width: 300px;
}
#talk2{
    flex-direction: column;justify-content: center;
}
#talk2 >div{
    width:300px;padding: 0px;
}
#talk2 img{
  width: 300px;height: 400px;
}
#services1{
    flex-direction: row;flex-wrap: wrap;margin: 0;
}
#services1>div{
    width: 100%; height: auto;
}
#services1 img{
  width: 100%; 
}
#services2{
    flex-direction: row;flex-wrap: wrap;margin: 0;
}
#services2>div{
    width: 100%; height: auto;
}
}

#signup{
display: flex;flex-direction: column;align-items: start;
}
#signup input{
  background-color: rgb(221, 218, 218);margin-top: 10px;
}
#signup >.sub{background-color: #13182F;color:#F8F7F7;border-radius: 6px;}
.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin: 8px 0;
}

.footer-links a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #2f3f85;
}

.footer-links h4 {
  border-bottom: 1px solid #ffffff;
  display: inline-block;
  padding-bottom: 6px; 
  margin-bottom: 12px;
}
